<div class="wrap container" role="document">
  <div class="content row">
    <main class="main col-lg-12" role="main">
      <div id="gradient" class="gradient"></div>
    </main><!-- /.main -->
  </div><!-- /.content -->
</div><!-- /.wrap -->
